/*-- -------------------------- -->
<---          Dashboard         -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  #dashboard {
    /* leaving extra space for the navigation */
    padding-top: 3rem;
    height: 100dvh;
  }
}

/* Desktop  */
@media only screen and (min-width: 60rem) {
  #dashboard {
    display: flex;
    z-index: 1;
  }
}

/*-- -------------------------- -->
<---           SideBar          -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  #sidebar {
    display: none;
  }
}

/* Desktop  */
@media only screen and (min-width: 60rem) {
  #sidebar {
    display: flex;
    flex: 0.5;
  }
  #sidebar a {
    color: var(--secondary);
    font-weight: normal;
  }
  .sidebar_container {
    justify-items: start;
    background-color: var(--primary);
    z-index: 90;
    width: 100%;
    padding: 3em 0 0 1rem;
  }
}

/*-- -------------------------- -->
<---        Add Logs Button     -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  .add-logs-container {
    background-color:var(--dashboardBackground);
    padding-top: 3em;
  }
  #add-logs .button {
    margin: 0;
    padding: 0;
  } 
}

/* Desktop  */
@media only screen and (min-width: 64rem) {
  #add-logs {
    display: none;
  } 
}

/*-- -------------------------- -->
<---          Emoji Box         -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  #emoji {
    padding: var(--sectionPadding);
    position: absolute;
    width: 100%;
    height: 100%;
    justify-items: center;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(4px);
  }

  #emoji .emoji-container{
    background-color: white;
    padding: var(--sectionPadding);
    width: fit-content;
    height: fit-content;
  }

  #emoji .emoji-container .emoji-pic {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  #emoji.reveal{
    opacity: 1;
    pointer-events: fill;
  }

  #emoji .text {
    color: black;
  }

  #emoji .button {
    color: var(--secondary);
    background-color: var(--primary);
  }
}

/*-- -------------------------- -->
<---      Study Options      -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  #study-types {
    padding: var(--sectionPadding);
    padding: var(--sectionPadding);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    justify-items: center; 
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(4px);
  }
  #study-types .study-types-container {
    display: flex;
    background-color: white;
    padding: var(--sectionPadding);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
  }
  #study-types .icon {
    border: fill 0.5px lightgrey;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  #study-types .text {
    color: black;
    width: 100%;
  }
  #study-types.reveal {
    opacity: 1;
    pointer-events: fill;
  }

  #study-types .button {
    color: var(--secondary);
    background-color: var(--primary);
  }
}

/*-- -------------------------- -->
<---            Graph           -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
    #graph {
      width: 100%;
      justify-items: center;
      background-color: var(--dashboardBackground);
      padding: var(--sectionPadding);
    }
    #graph .topper {
      justify-self:center;
      color: var(--textBrown);
    
  }
}

/* Desktop  */
@media only screen and (min-width: 64rem) {
    #graph {
      flex: 1;
      padding: 3rem 0 0 0;
  }
}

/*-- -------------------------- -->
<---            Logs            -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  #logs {
    background-color: var(--dashboardBackground);
    padding-bottom: 3rem;
  }
  input {
    display: flex;
    justify-self: center;
    padding-bottom: 1rem;
  }
  .button {
    margin: 1rem 0 1rem 0;
    justify-self: center;
  }
  .card-top {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .card {
    justify-self: center;
    background-color: #F3E9E9;
    padding-bottom: 0.5rem;
    min-width: 10rem;
  }
  #logs .topper {
    color: var(--textBrown);
    padding-bottom: 0.5rem;
    text-align: center;
  }
  #logs .text {
    justify-self: center;
    color: black;
    margin-top: 0.5rem;

  }
}

/* Desktop  */
@media only screen and (min-width: 64rem) {
  #logs {
    flex: 1;
    padding-top: 3em;
  }
  #logs .log_container .title {
    font-size: var(--desktopTextFontSize);
  }

  #logs .text {
    font-size: var(--desktopTextFontSize);

  }

  #logs .log_container .button {
    font-size: var(--desktopTextFontSize);
  }
}


